.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #a0a0a0;
}

h2 {
  font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  font-size: 26px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.question {
  padding-top: 20px;
}

.question ul li {
  text-align: center;
}

li {
  list-style-type: none;
  color: black;
  font-size: 17px;
	font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}

body {
  background: url('https://images.unsplash.com/9/barcelona-traffic.jpg?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=2c05e4ccef2b2d6112a78bc0f947253d') no-repeat fixed;
  background-size: cover; background-position: 50% 70%;
  overflow-x: hidden;
	font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}

.navbar {
  padding-left: 20px;
  padding-right: 20px;
}

.jumbotron {
  text-align: center;
  color: black;
  padding-top: 10px;
  padding-left: 10%;
  padding-right: 10%;
}

.jumbotron li {
  text-align: left;
}

.jumbotron h1 {
  font-size: 3em;
  font-weight: 700;
  letter-spacing: 3px;
  font-family: 'Caveat', cursive;
  color: #8caba8;
}

.jumbotron p {
  color: black;
  font-size: 20px;
  font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}

a {
  color: black;
}

a:hover {
  color: grey;
  text-decoration: none;
}

p.about {
  padding-top: 20px;
}

p.signature {
  font-size: 30px;
  font-family: 'Caveat', cursive;
  margin-bottom: -10px;
}

.form-control {
  width: 450px;
  margin: auto;
  align: center;
}

.panel-body {
  margin-top: 15px;
  margin-bottom: 15px;
}
