ul {
  list-style-type: none;
  color: black;
}

li {
  color: black;
}

.container, .col-xs-6, .row, table, tr, li {
  color: black;
}

body {
  background: url('nystreet.jpg') no-repeat fixed; background-position: 50% 70%;
}

.jumbotron {
  text-align: center;
  color: #18bc9c;
  padding: 20px;

}
h2 {
  font-family: 'Caveat', cursive;
  font-size: 40px;
}

h1  {
  font-family: 'Caveat', cursive;
  font-size: 55px;
}

.jumbotron p {
  color: black;
  font-size: 17px;
}

.jumbotron .table tr li {
  color: black;
}
