<p>This site was created to make the transportation experience more efficient and as enjoyable as possible. As someone that has lived in cities and relied heavily on car alternatives for over 20 years, I think information provided from locals will be very useful to walkers, bikers, rollerbladers, drivers, skateboarders, etc!</p>

<p>The site will be tested in Washington DC and can expand to other cities.</p>
