<p class='about'>This site was created to make the transportation experience more efficient and enjoyable. Insider tips from locals can decrease travel time and increase sightseeing possibilities!</p>

<p>The site will be tested in Washington DC and can expand to other cities.</p>

<p class='signature'>Lisa Folliard</p>
