<h1>Ask transportation-related questions and get answers from locals!</h1>
  <div class='container'>
        <table>
          <tr>
            {{#each model as |question|}}
              <li>
                <td>{{#link-to 'question' question.id}}
                {{question.content}} {{/link-to}} &nbsp; Asked by    {{question.author}}</td>
              </li>
            {{/each}}
          </tr>
        </table>
  </div>
<br>

{{new-question save2='save3'}}
