<h1>Ask questions and get answers from locals on the quickest and most pleasant ways to get from point A to point B</h1>

<br>
<div class="container">
  <div class="row">
    <ul>
      {{#each model as |question|}}
        {{question-tile question=question update="update" destroyQuestion="destroyQuestion"}}
      {{/each}}
    </ul>
  </div>
</div>

{{new-question save2="save3"}}
