<h1>Transport Me!</h1>

<p>This is a site where you can ask questions and get answers from locals on the quickest and most pleasant way to get from point A to point B</p>

<ul>
  {{#each model as |question|}}
    {{question-tile question=question}}
  {{/each}}
</ul>
